<!DOCTYPE html>
<html lang="pt-BR">  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Fintech - Home</title>  </head>

<body>
    <header>
        <nav>
            <h1>Fintech</h1>
            <div class="user">
                <img src="caminho/para/imagem/padrao.jpg" alt="Foto do perfil do usuário">
                <p id="username">Carregando...</p> <button id="logout-button">Sair</button>
            </div>
        </nav>
    </header>

    <main>
        <article class="container_saldo">
            <div>
                <h2>Saldo</h2>
                <p>Valor: <span id="saldo-valor">Carregando...</span></p>
            </div>
        </article>

        <article class="container_cartao">
            <div>
                <h2>Crédito</h2>
                <p>Limite: <span id="credito-limite">Carregando...</span></p>
                <p>Disponível: <span id="credito-disponivel">Carregando...</span></p>
            </div>
        </article>

      </main>
    <script src="script.js"></script>
</body>

</html>